<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Details</title>
    <link rel="stylesheet" crossorigin="anonymous"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" >
    <script crossorigin="anonymous"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" >
    </script>
</head>
<body>
<div class="card">
    <div class="card-header">
        User Details
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-2">Id</dt>
            <dd class="col-sm-9">{{rslt[0]}}</dd>

            <dt class="col-sm-2">Name:</dt>
            <dd class="col-sm-9">{{rslt[1]}}</dd>

            <dt class="col-sm-2 text-truncate">Email:</dt>
            <dd class="col-sm-9">{{rslt[2]}}</dd>

            <dt class="col-sm-2 text-truncate">Password:</dt>
            <dd class="col-sm-9">{{rslt[3]}}</dd>

            <img  src="data:image/jpeg;base64,{{rslt[4]}}" style="width:400px;" >
        </dl>
    </div>
    <div class="card-footer text-muted">
        <a class="btn btn-primary me-2" href="/add">Add User</a>
        <a class="btn btn-primary me-2" href="/update/{{rslt[0]}}">Update User</a>
        <a class="btn btn-primary me-2" href="/delete/{{rslt[0]}}">Delete User</a>
        <a class="btn btn-primary me-2" href="/">Back to User List</a>
    </div>
</div>
</body>
</html>
